
.articles {
    font-size: 10%;
    color: #8d99ae;
    margin: 1%;
    background-color: #2b2d42;
    border: 9px double #8d99ae;
}

.sorts {
        display: flex;
        justify-content: space-evenly;
        margin: 4.5%;
      }
  
  .order {
    font-size: 141%;
  }
  
  .order-buttons {
    background-color: #8d99ae;
  }

  
  .article-list {
    font-size: 150%;
    padding: 1%;
    margin: 1%;
    list-style-type: none;
  }

  .article-card {
    padding: 1%;
    color: #8d99ae;
    list-style-type: none;
    font-size: 100%;
    border: 4px ridge #8d99ae;
    background-color: #ef233c;
    margin: 2%;
  }
  
  
  .article-title {
    font-size: 150%;
    text-align: left;
    padding: 1%;
    margin: 1%;

  }
  
  .article-left {
    margin: 1%;
    padding: 1%;
    text-align: left;
  }
  
  
  .article-right {
    margin: 1%;
    padding: 1%;
    text-align: right;
  }


  .dropdown-item {
    font-size: 20px;
  }
  