
.articles {
    font-size: 100%;
    color: #495867;
}

.sorts {
        display: flex;
        justify-content: space-evenly;
        background-color: #bdd5ea;
        margin: 4.5%;
      }
  
  .order {
    font-size: 135%;
  }
  
  .order-buttons {
    background-color: #577399;
  }

  
  .articleList {
    font-size: 150%;
    padding: 1%;
    margin: 1%;
    list-style-type: none;
  }

  .articleCard {
    padding: 1%;
    list-style-type: none;
    font-size: 100%;
    background-color: #bdd5ea;
    margin: 2%;
  }
  
  
  .article_title {
    font-size: 100%;
    text-align: left;
  }
  
  .article_topic {
    text-align: left;
  }
  
  .article_author {
    text-align: left;
  }
  
  .article_votes {
    text-align: right;
  }
  
  .article_date {
    text-align: right;
  }
  
  .article_comment_count {
    text-align: right;
  }
  
  
  