article {
  font-size: 35px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 2%;
  margin: 2%;
  border: 8px solid #2b2d42;
  color: #2b2d42;
}

.full-article-top-section {
  display: flex;
  list-style-type: none;
}

.full-article {
  padding: 1%;
  margin: 1%;
  list-style-type: none;
  font-size: 100%;
  background-color: #2d6a4f;
}

.article-head {
  font-size: 150%;
  padding: 1%;
  margin: 1%;
}

.full-article-info {
  display: inline-flex;
  padding: 1%;
  margin: 1%;
  align-items: center;
}

.created {
  font-size: 80%;
  padding: 1%;
  margin: 1%;
}

.full-article-topic {
  font-size: 80%;
  padding: 1%;
  margin: 1%;
}

.full-article-votes {
  font-size: 80%;
  padding: 2%;
  margin: 2%;
}

button {
  font-size: 90%;
  background-color: #8d99ae;
  color: #2b2d42;
  border: 10px inset #2b2d42;
}

.full-article-body {
  font-size: 100%;
  background-color: #8d99ae;
  color: #2b2d42;
  border: 4px solid #2b2d42;
  padding: 1%;
  margin: 1%;
}


.post-comment {
  padding: 10px;
  list-style-type: none;
  border: 4px solid #2b2d42;
  font-size: 100%;
  text-align: centre;
  background-color: #ef233c;
  margin: 20px;
}

.comment-button {
  background-color: #8d99ae;
  color: #2b2d42;
  border: 5px inset #2b2d42;
}

.comment-list {
  margin: 2%;
  padding: 1%;
  list-style-type: none;
}

.comment-card {
  padding: 1%;
  border: 4px solid #2b2d42;
  margin: 1%;
  list-style-type: none;
  font-size: 100%;
  text-align: left;
  background-color: #ef233c;
}

.comment-author {
  margin: 1%;
  padding: 1%;
  font-size: 150%;
}

.comment-info {
  margin: 1%;
  padding: 1%;
  font-size: 100%;
}

.comment-body {
  margin: 1%;
  padding: 1%;
  font-size: 125%;
}

.delete-comment {
  margin: 1%;
  padding: 1%;
  background-color: #8d99ae;
  color: #2b2d42;
  border: 5px inset #2b2d42;
}
