.login {
    font-size: 35px;
    margin: 2%;
    padding: 2%;
}

.button2 {
  font-size: 1000%;
  background-color: #495867;
  border: none;
  color: #f7f7ff;
  padding: 1%;
  text-align: center;
  text-decoration: none;

}

.login-message {
    padding: 2%;
    margin: 2%;
    font-size: 200%;
    color: #495867;
}