.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.articleCard {
  padding: 10px;
  list-style-type: none;
  margin: 0;
  border: 3px double rgba(28, 110, 164, 0.41);
  font-size: 10px;
  background-color: rgb(210, 83, 83);
  margin: 15px;
  -webkit-border-radius: 0px 12px 0px 12px;
  border-radius: 0px 12px 0px 12px;
}

.articleList {
  padding: 0;
  list-style-type: none;
}

.article_title {
  font-size: 20px;
  text-align: left;
}

.article_topic {
  text-align: left;
}

.article_author {
  text-align: left;
}

.article_votes {
  text-align: right;
}

.article_date {
  text-align: right;
}

.article_comment_count {
  text-align: right;
}


.full_article {
  padding: 10px;
  list-style-type: none;
  margin: 0;
  border: 3px double rgba(28, 110, 164, 0.41);
  font-size: 10px;
  background-color: rgb(210, 83, 83);
  margin: 15px;
  -webkit-border-radius: 0px 12px 0px 12px;
  border-radius: 0px 12px 0px 12px;
}

.full_article_topic {
  font-size: 15px;
  text-align: left;
}

.full_article_info {
  font-size: 20px;
}

.full_article_body {
  font-size: 20px;
}

.created {
  font-size: 15px;
}


.commentCard {
  padding: 10px;
  list-style-type: none;
  border: 3px double rgba(28, 110, 164, 0.41);
  font-size: 100%;
  text-align: left;
  background-color: rgb(133, 133, 133);
  margin: 5px;
}

.commentList {
  margin: 15px;
  padding: 0;
  list-style-type: none;
}

.comment_author {
  font-size: 150%;
}

.post_comment {
  padding: 10px;
  list-style-type: none;
  border: 3px double rgba(28, 110, 164, 0.41);
  font-size: 100%;
  text-align: centre;
  background-color: rgb(133, 133, 133);
  margin: 20px;
}

.user_card {
  padding: 10px;
  list-style-type: none;
  border: 3px double rgba(28, 110, 164, 0.41);
  font-size: 100%;
  text-align: centre;
  background-color: rgb(227, 227, 21);
  margin: 20px;
}

.user_avatar {
  height: 50%;
  width: 50%;
}

.featured-article {
  padding: 10px;
  list-style-type: none;
  border: 3px double rgba(28, 110, 164, 0.41);
  font-size: 100%;
  text-align: centre;
  background-color: rgb(255, 108, 226);
  margin: 20px;
}

.featured-article-body {
  padding: 10px;
  list-style-type: none;
  border: 3px double rgba(28, 110, 164, 0.41);
}